PORT=3000
SESSION_SECRET='chave-super-secreta-dos-focinhos'
ADMIN_USERS=teste@teste
ADMIN_PASSWORD=teste
SMTP_HOST=smtp.seuservidor.com
SMTP_PORT=587
SMTP_USER=seuemail@dominio.com
SMTP_PASS=suasenha
APP_URL=https://seusite.com
