@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: clamp(80px, 10vh, 160px);
}
html,
body {
	font-family: 'Poppins', sans-serif;
}

:root {
	--destaque: #eeb1cd;
	--titulos: #3a4750;
	--fundo: #f9fbfd;
	--cards: #f4e3ed;
	--secundario: #a5c9e1;
	--rosa: #f981aa;
	--azul: #8cd9de;
	--azul-claro: #caeaf4;
	--rosa-claro: #f8e3e9;
}
.vh-80 {
	height: 80vh;
}

.overlay {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0.3) 50%,
		rgba(0, 0, 0, 0.7) 100%
	);
}

.object-fit-cover {
	object-fit: cover;
}

.btn-pet {
	background-color: var(--destaque);
	border: none;
	color: white;
	transition: 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-pet:hover {
	background-color: var(--azul);
	border-color: var(--rosa);
	color: white;
	transform: scale(1.05);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
	animation: pulsar 2s infinite;
}
.azul-claro {
	background-color: var(--azul-claro) !important;
}

.rosa-claro {
	background-color: var(--rosa-claro) !important;
}

.cards {
	background-color: var(--cards);
	color: var(--titulos);
}

@keyframes pulsar {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 107, 107, 0.7);
	}
	70% {
		box-shadow: 0 0 0 15px rgba(255, 107, 107, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 107, 107, 0);
	}
}

a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}

.titulos {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--titulos);
}

.titulos-rosa {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--rosa);
}

.texto-rosa {
	color: var(--destaque);
}

.texto-azul {
	color: var(--azul);
}

.transparente {
	background-color: transparent;
	border: none;
	color: black;
	font-size: small;
	text-transform: uppercase;
}

.border-custom {
	border-color: var(--rosa) !important;
}

.bg-custom {
	background-color: var(--azul-claro);
	color: var(--titulos);
}
.btn-pedido {
	background-color: var(--azul);
	border: none;
	color: white;
	transition: 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-pedido:hover {
	background-color: var(--rosa);
	border-color: var(--rosa);
	color: white;
	transform: scale(1.05);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
	animation: pulsar 2s infinite;
}

.tooltip-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #666;
	color: white;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	cursor: help;
	margin-left: 5px;
	position: relative;
}

.tooltip-icon::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #333;
	color: #fff;
	padding: 8px;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 14px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 10;
}

.tooltip-icon:hover::after {
	visibility: visible;
	opacity: 1;
}
